body {
	font-family: 'Lato', 'Helvetica' , 'Arial', sans-serif;
	width: 800px;
    margin-left: auto;
    margin-right: auto;
	background-color: #f3f3f3;
	position: relative;
	top: 80px;	
}


.mainDetails{	
    margin-left: auto;
    margin-right: auto;
	border-bottom: 2px solid #cf8a05;
	
}

#contactDetails{	
	float: right;
	font-size: 14px;
    font-weight: 100;
    color: #181818;
	
}

#conteudoDetails{
	font-size: 14px;
	font-weight: 100;
	color: #181818;
}

#mainArea{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.containerBorder{
	border-bottom: 1px solid;
	color: #dedede;
}


.clear {
	clear: both;
}

#perfilShot{
	border-radius: 80px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	border-radius: 25px;
}

#nameTitle{
	font-size: 36px;
	font-weight: 700;
	color: #444444;
}

#jobTitle{
	font-size: 26px;
	font-weight: 400;
	color: #444444;
}

#name {
	font-family: 'Rokkitt', 'Helvetica', 'Arial' , 'sans-serif';
	float: left;
	line-height: 16px;
	margin-left: 30px;
	color: #444444;
	
}
div ul li{
	list-style: none;
}

div ul li a {
	text-decoration: none;
	color: inherit;
	
}

#contactDetails {
	float: right;
	
}

.sectionTitle {
	float: left;
	width: 25%;
}

.tituloh1{
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	color: #cf8a05;
}

.tituloh2{
	font-size: 20px;
	font-weight: 500;
	line-height: 2px;	
	color:#444444;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.conteudo{
	font-size: 16px;
	font-weight: 100;	
	color: #181818;
}

.subDetails{
	font-style: italic;
	font-size: 13px;
	font-weight: 200;
	line-height: 2px;	
	color: rgb(109, 106, 106);
}

.keySkills{	
	columns: 3;	
	font-size: 14px;	
	font-weight: 100;
	color: rgb(87, 87, 87);
}